# 시퀀스(Sequence) 자료형
- 내부 원소들이 순서를 가지고 구성된 자료형
- 문자열, 리스트, 튜플
- 공통 특성
    - 연결 (+)
    - 반복 (*)
    - 인덱싱 (Indexing)
    - 슬라이싱 (Slicing)
    - 멤버확인 (in)
    - 크기정보 (Len())

## 문자열 (String)
- 문자들의 집합으로 작은 따옴표(' ') 또는 큰 따옴표 (" ")로 묶임

In [1]:
"Hello world!"

'Hello world!'

In [2]:
a = 'Python is fun!'
a

'Python is fun!'

In [3]:
type(a)

str

In [5]:
"0904" # 안에는 숫자로만 이루어져있지만 따옴표로 묶어져있기 때문에 이는 문자열이다.

'0904'

### 문자열 연결 및 반복

- '+' 연산자
    - **자료형이 동일한** 두 시퀀스 자료를 연결하여 샐운 시퀀스 자료로 생성
    - 문자열 사이에 사용하여 합치는 기능을 함

In [6]:
'Python' + 'is' + 'Fun!'

'PythonisFun!'

- '*' 연산자
    - 시퀀스 자료를 여러 번 반복하여 새로운 시퀀스 자료로 생성

In [7]:
'Python' * 3

'PythonPythonPython'

## 문자열 인덱싱
- 인덱스를 통해 해당 값에 접근
    - 인덱스는 0부터 시작
    - 끝에서부터 시작할 경우 -1, -2,,,

In [8]:
word = "Python"
word[0]

'P'

In [9]:
word[-1]

'n'

## 문자열 슬라이싱
- 특정 구간의 값을 취할 수 있음 (한 번에 여러개 추출)
- **[시작 인덱스: 끝 인덱스 + 1: 스텝 ]**
    - 시작 인덱스부터 끝 인덱스까지의 자료를 취하라는 의미
    - 스텝은 자료를 취하는 간격으로 생략해도 되며 기본값은 1

In [10]:
word = 'Python'
word[0:2]

'Py'

In [11]:
word[:2] # 콜론 앞 생략할 경우 - 문자열 시작부터 ~

'Py'

In [12]:
word[3:] # 콜론 뒤 생략할 경우 - ~ 문자열 끝까지

'hon'

In [23]:
word = "123456789"
word[::-1] # 스텝이 -1이고 시작과 끝 인덱스가 지정되지 않았기에 전체를 반환

'987654321'

In [24]:
word[::2] # 스텝이 2이기 때문에 시작이 앞에서부터 시작되며 2 step 씩 끝까지 간다.

'13579'

In [25]:
word[::-2]

'97531'

## In 키워드
- in 키워드를 사용하여 특정 값이 시퀀스 자료의 요소로 속해있는지 확인
- <값> in <자료>

In [13]:
word = 'Python'
'o' in word # 문자열에 특정 문자 있는지 확인

True

In [14]:
'x' in word

False

In [16]:
'on' in word # 문자열에 특정 문자열 있는지 확인

True

## 문자열 관련 함수
- len()
- count()
- index()
- join()
- split()

- len( )
    - 시퀀스 자료의 크기를 알 수 있음
    - 문자열의 문자 개수 반환하는 내장 함수

In [17]:
word = 'Python'
len(word)

6

In [18]:
len('Python is Fun!') # 띄어쓰기도 len에 포함된다.

14

- count()
    - 문자열 중 문자의 개수를 반환

In [19]:
s = 'Python is Fun!'
s.count('n') # 문자 'n'의 개수 반환

2

- index(  )
    - 문자열 중 특정문자가 **처음으로** 나온 위치 반환

In [20]:
s = 'Python is Fun!'
s.index('n') # Python의 n의 index를 반환

5

- join( )
    - 문자열을 합해줌

In [22]:
a = ','
a.join('1234')
# ','.join('1234') 라고도 표현 가능

'1,2,3,4'

In [30]:
'-.-'.join('1234')

'1-.-2-.-3-.-4'

- split( )
    - 문자열은 공백이나 다른 문자로 분리해서 **리스트**로 반환

In [27]:
s1 = 'Python is fun'
s1.split(" ") # 공백 기준으로 분리
# list 형태로 반환한다.

['Python', 'is', 'fun']

In [39]:
a = 'Pytho\nn is Fun'
print(a) # \n은 Enter 역할

Pytho
n is Fun

In [41]:
a = 'Python is\t fun'
print(a) # \t은 tab 역할

Python is	 fun

In [42]:
# \n, \t와 같은 것을 화이트 스페이스라고 한다. 이런 것에 대해 한꺼번에 처리하고자 할 경우 split()으로 사용 가능하다.
a.split()

['Python', 'is', 'fun']

In [28]:
s2 = 'One:Two:Three'
s2.split(":") # 콜론으로 분리

['One', 'Two', 'Three']

In [29]:
s2

'One:Two:Three'

## 실습문제3
- 문자열의 마지막 문자를 구해서 출력해보자

In [26]:
word = "Hello"
# 음의 인덱스를 사용하는 방법
word[-1]

'o'

In [37]:
# len( )힘수를 이용하는 방법
word[len(word) -1]

'o'

# List
- 여러 정보를 하나로 묶어서 저장하고 관리할 수 있게 함
- **리스트 이름 = [값1,값2,값3]
- [ ] 안에 쉼표로 구분하여 정보를 적어 주면 됨

In [44]:
# 문자열을 원소로 가지는 예제
fruit = ['banana', 'apple','cherry']

# 숫자를 원소로 가지는 예제
score = [70, 99, 25, 100]

# Empty list
e_list = []

## list indexing
- index
    - 원소가 배열된 순서를 나타냄(0번부터 시작)

In [45]:
season = ['spring', 'summer','fall', 'winter']
season[1]

'summer'

## list slicing
- 특정 구간의 값을 취할 수 있음 (한번에 여러개 추출)
- **[시작 인덱스: 끝 인덱스 +1 : 스텝]**

In [46]:
a = [45, 87, 99, 21, 55]
a[0:2]

[45, 87]

In [48]:
print(a[:2]) # 콜론 앞 생략: 리스트 시작부터 ~
print(a[3:]) # 콜론 뒤 생략: ~ 리스트 끝까지

[45, 87]
[21, 55]

## list 더하기, 반복

In [49]:
a = [1,2,3]
b = [4,5,6]

a + b

[1, 2, 3, 4, 5, 6]

In [51]:
a * 3 # a 리스트 안의 모든 원소들에 대해 n번 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## in & not in 키워드
- in: list의 element인가를 결정하는 연산자
- not in: list의 element가 아닌 element를 결정하는 연산자

In [52]:
fruit = ['banana','apple','orange']
'apple' in fruit

True

In [53]:
'cherry' in fruit

False

## list 수정 및 삭제

In [54]:
a = [1,2,3]
a[2] = 8 # a[2]의 요소 값 수정
a

[1, 2, 8]

In [55]:
del a[0] # del 키워드 사용해 리스트 삭제 (del a[x:y] 형태로 사용가능)
a

[2, 8]

## list 패킹, 언패킹
- 패킹: 한 변수에 여러개의 데이터를 넣는 것
- 언패킹: 한 변수의 데이터를 각각의 변수로 반환

In [56]:
t = [1,2,3] # 1,2,3을 변수 t에 패킹
a,b,c = t # t 값 1,2,3을 a,b,c에 언패킹
print(a,b,c)

1 2 3

In [60]:
try:
    x,y = t
except ValueError:
    print("개수가 맞지 않으면 에러가 발생")

개수가 맞지 않으면 에러가 발생

## 실습문제 4
- 실행예제를 참고하여 프로그램 작성하기
- 실행예제
    - 날짜(연/월/일) 입력: 2022/07/27
    - 입력한 날짜의 10년 후는 2032년 7월 27일

In [65]:
date = input("날짜를 입력하세요(/를 이용하여 년,월,일을 구분할 것)").split("/")
y = int(date[0])
m = date[1]
d = date[2]

print(f"입력한 날짜의 10년 후는 {y+10}년 {m}월 {d}일 입니다.")

날짜를 입력하세요(/를 이용하여 년,월,일을 구분할 것)2022/07/27
입력한 날짜의 10년 후는 2032년 07월 27일 입니다.

In [69]:
# Answer
date = input("날짜를 입력하세요(/를 이용하여 년,월,일을 구분할 것)")
datelist = date.split("/")
year, month, day = datelist
print("입력한 날짜의 10년 후는 %s년 %s월 %s일" %(int(year)+10,month,day))

날짜를 입력하세요(/를 이용하여 년,월,일을 구분할 것)2022/07/27
입력한 날짜의 10년 후는 2032년 07월 27일

In [70]:
# list의 전체를 int로 바꾸는 방법 - map
list(map(int, datelist))

[2022, 7, 27]

# 조건문

## Bool 자료형
- Bool은 True와 False의 두 가지 값을 나타내는 자료
- 조건문이 다음과 같을 때 거짓으로 평가
    - False, None, 숫자
    - 비어있는 순서열
    - 비어있는 딕셔너리
    
- 어떤 객체가 참인지 거짓인지 알고 싶을 때 Bool(   ) 함수 이용

In [72]:
result = 3 > 2
print(result)

True

In [73]:
type(result)

bool

In [74]:
bool(0.0)

False

In [75]:
bool([1,2,3])

True

## 관계 연산자와 논리 연산자
- 연산의 결과는 항상 참(True) 또는 거짓(False)
- 관계 연산자
    - <, >, ==, <=, >=, !=
        - ** == 와 =는 서로 다른 연산자이다
- 논리 연산자
    - not
    - and
    - or

In [71]:
a = 99

(a > 100) and (a < 200) # False & True 이기 때문에 False

False

In [76]:
(a > 100) or (a < 200)

True

In [77]:
not(a == 100)

True

## if
- 조건문의 결과가 참이면 A를 수행
- 블록(Block)
    - 여러 코드가 이루는 일정한 구역
    - **파이썬의 경우 들여쓰기로 구역을 나눔**
    - 들여쓰기는 스페이스나 탭 둘 다 사용 가능 (스페이스 4칸 사용 권장)

### if - else
- 조건의 결과가 참이면 if문 바로 다음의 문장(if블록)들을 수행하고 거짓이면 else문 다음의 문장(else 블록)들을 수행

In [79]:
a = 200

if a < 100:
    print("It is True")
    print("It is smaller than 100")

else:
    print("It is False")
    print("It is same or bigger than 100")
    
print("\nPrograme Over")

It is False
It is same or bigger than 100

Programe Over

### if - elif - else
- 다중 조건 판단

In [80]:
num = int(input("정수를 입력하시오: "))

if num > 0:
    print("양수입니다.")
elif num == 0:
    print("0 입니다.")
else:
    print("음수입니다.")

정수를 입력하시오: 45
양수입니다.

### if문 응용

In [81]:
if 'aa' in 'daaad':
    print("It is True")
else:
    print("It is False")

It is True

## 실습1
- 학생수준평가 시험에서 영어 점수와 수학 점수가 합해서 110점 이상이면 합격이다. 
- 단, 각 점수가 40점 미만이면 불합격이다. 영어 (eng), 수학(math)점수를 입력 받아 합격여부를 출력하는 프로그램 을 작성하시오

In [87]:
eng = int(input("영어 점수를 입력하시오: "))
math = int(input("수학 점수를 입력하시오: "))

if (eng + math) >= 110:
    if eng >= 40 and math >= 40:
         print("합격입니다.")
    elif eng >= 40 and math < 40:
        print("불합격: 수학 점수 부족")
    else:
        print("불합격: 영어 점수 부족")
else:
    print("불합격: 총합 점수 부족")

영어 점수를 입력하시오: 35
수학 점수를 입력하시오: 95
불합격: 영어 점수 부족

In [ ]:
# Answer

if (eng + math) < 100:
    print("불합격: 총합 점수 부족")
elif math < 40:
    print("불합격: 수학 점수 부족")
elif eng < 40:
    print("불합격: 영어 점수 부족")
else:
    print("합격입니다.")

## 실습2
- 세 개의 정수를 입력 받아, 가장 큰 수만 출력하는 프로그램을 작성하시오. (반복문, max 함수, 정렬 함수 등을 사용할 수 없음)

In [92]:
numList = input("세 개의 수를 입력하시오: ").split(" ")
num1, num2, num3 = map(int, numList)

if num1 >= num2:
    if num1 >= num3:
        print(f"가장 큰 수는 {num1}입니다.")
    elif num1 < num3:
        print(f"가장 큰 수는 {num3}입니다.")
elif num2 <= num3:
    print(f"가장 큰 수는 {num3}입니다.")
else:
    print(f"가장 큰 수는 {num2}입니다.")

세 개의 수를 입력하시오: 30 22 50
가장 큰 수는 50입니다.

In [97]:
a, b, c = input("세 개의 수를 입력하시오: ").split()
a,b,c = int(a), int(b), int(c)

max_value = a
if a > b:
    if a > c:
        max_value = a
    else:
        max_value = c
elif b < c:
    max_value = c
else:
    max_value = b
print(max_value)

세 개의 수를 입력하시오: 30 22 50
50

In [96]:
# 반복문 사용해보기 (by me)

numList = input("세 개의 수를 입력하시오: ").split(" ")
numList = map(int, numList)
maxx = 0

for num in numList:
    if num > maxx:
        maxx = num
    else:
        continue
print(maxx)

세 개의 수를 입력하시오: 30 22 50
50

# 반복문

## While문
- 조건이 참이 동안 A를 반복 수행

In [99]:
number = 1
while number <= 5:
    print(number)
    number = number + 1

1
2
3
4
5

In [101]:
# 실행 결과를 한 줄에 이어서 출력하고 싶은 경우
number = 1
while number <= 5:
    print(number, end=" ")
    number = number + 1

1 2 3 4 5

In [103]:
# 1부터 10까지의 합
num = 1
summ = 0
while num <= 10:
    summ += num
    num += 1
print(f"1부터 10까지의 합: {summ}")

1부터 10까지의 합: 55

## Range(  ) 함수
- range(start, stop, step)
- start부터 step만큼씩 (증가/감소)하여 stop 전까지의 모든 정수의 값을 리스트 형태로 반환

In [105]:
list(range(1,7,2))

[1, 3, 5]

In [107]:
# start와 step은 생략될 수 있음
# 생략된 경우 start의 값은 0, step은 1이라고 간주
list(range(5))

[0, 1, 2, 3, 4]

In [108]:
list(range(5,10))
# list로 넣어주지 않으면 range 객체 자체로 반환된다.

[5, 6, 7, 8, 9]

In [112]:
range(1,7,2)[2] # range 객체에 대해서 인덱스 사용도 가능함

5

In [113]:
[i for i in range(10,15,1)] # 리스트로 만들기

[10, 11, 12, 13, 14]

## For 문
- 순서열을 순회하다가 순서열의 끝에 도달하면 반복을 종료함
- for 반복변수 in 순서열: 반복할 문장

In [114]:
for x in range(5):
    print("Hello World!")

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [115]:
for x in 'sdfsa':
    print("Hello World!")

 # 문자형에 대해서도 문자의 len만큼 출력이 된다.

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [116]:
for x in range(5):
    print(x, end=" ")

0 1 2 3 4

In [117]:
for x in 'python':
    print(x, end='')

python

In [119]:
# 아래의 in 키워드와는 전혀 다른 기능임에 주의할 것
'd' in 'dddd'
# 이는 "dddd".__contains__("dd")와 같은 의미

True

## 실습1
- 구구단 출력

In [120]:
num = int(input("출력하고 싶은 단을 입력하세요: "))

for i in range(1,10,1):
    print(f"{num} * {i} = {num * i}")

출력하고 싶은 단을 입력하세요: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

## 중첩 반복문
- 반복문 내부의 반복문

## 실습2
- 별 출력 프로그램

In [135]:
num = input("Input an integer: ")
for i in range(len(num)):
    print("𖤐" * int(num[i]))

Input an integer: 3159
𖤐𖤐𖤐
𖤐
𖤐𖤐𖤐𖤐𖤐
𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐

In [137]:
# while문 사용 ANSWER1

number = input("input a integer: ")

for x in number:
    x = int(x)
    for _ in range(x):
        print("𖤐", end="")
    print("")

input a integer: 3194
𖤐𖤐𖤐
𖤐
𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐
𖤐𖤐𖤐𖤐

In [138]:
# while문 사용 ANSWER2

number = input("Input a integer: ")
i = 0

while i < len(number):
    x = int(number[i])
    print("𖤐"* x)
    i += 1

Input a integer: 3194
𖤐𖤐𖤐
𖤐
𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐𖤐
𖤐𖤐𖤐𖤐

## Break, Continue
- break
    - 반복문 순회 도중 break 문을 만나면 내부 블록 벗어남
- continue
    - 반복문 순회 도중 continue 문을 만나면 그 아래의 문장은 해당 반복에 한해서 건너뛴다.

In [139]:
for i in range(1, 11):
    if i > 5:
        break
    print(i)

1
2
3
4
5

In [140]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

# List 2

## list 관련 함수

In [141]:
# 생성
colors = list()

In [142]:
# 리스트이름.append(x) - 기존 리스트 끝에 x 삽입
colors.append("red")
colors.append("green")
colors.append('blue')
colors

['red', 'green', 'blue']

In [143]:
# 리스트이름.remove(x) - 리스트에서 첫 번째로 나오는 x를 제거
colors.append("purple")
print(colors)
colors.remove("purple")
colors

['red', 'green', 'blue', 'purple']

['red', 'green', 'blue']

In [144]:
# pop - 제일 뒤에 있는 원소 제거
colors.pop()
colors

['red', 'green']

In [145]:
# 리스트 이름.sort() - 리스트의 항목을 오름차순으로 저력
# sorted() 함수는 리턴값이 있고 sort()는 리턴 값이 없다.

a = [1,7,9,2,5]
a.sort()
a

[1, 2, 5, 7, 9]

In [146]:
f = ['banana','apple','orange']
f.sort()

In [148]:
a.sort(reverse=True)

In [151]:
a = sorted(a,reverse = True) # 기존 값을 남겨두고 정렬하고 싶은경우 sorted 사용 
a

[9, 7, 5, 2, 1]

In [152]:
a = [372, 23, 45, True]

a.sort()
# True라는 객체가 23보다 작다고 판단되기에 이와 같이 분류됨
a

[True, 23, 45, 372]

In [153]:
# 리스트이름.reverse( ) - 리스트 항목의 순서를 역순으로 뒤집어 줌
a = [1,7,9,2,5]
a.reverse( )
a

[5, 2, 9, 7, 1]

In [154]:
# 리스트의 최대, 최소, 총합
a = [45,87,99,21,55]
print(max(a), min(a), sum(a))

99 21 307

In [158]:
# 리스트 이름.copy() - 리스트 내용을 복사해줌, a list를 b가 copy하고 b의 정보를 바꾸어도 a는 변하지 않음
a = [1,7,9,2,5]
b = a
b[0] = 2
a # a도 바뀜

[2, 7, 9, 2, 5]

In [159]:
a = [1,7,9,2,5]
b = a.copy()
b[0] = 2
a

[1, 7, 9, 2, 5]

In [161]:
# 리스트 안에 리스트가 있는 형태일 경우에는 copy를 사용해도 변형됨
a = [1,2,[3,4]]
b = a.copy()
b[2][0] = 2
a

[1, 2, [2, 4]]

In [163]:
# 위와 같은 경우에는 deepcopy를 사용하면 됨
import copy
b = copy.deepcopy(a)
print(a)
b[2][0] = 7
print(a)
print(b)

[1, 2, [2, 4]]
[1, 2, [2, 4]]
[1, 2, [7, 4]]

## 실습1
- “done”을 입력할 때까지 사용자로부터 숫자를 입력 받아 리스트에 저장하고,
- “done”을 입력하면, 리스트의 평균, 최대값과 최소값을 출력하는 프로그램을 작성하시오. (힌트. sum(), max(), min() 함수를 사용)

In [169]:
list_a = []
ipt = 0
while True:
    ipt = input("Enter a number: ")
    if ipt == 'done':
        break
    list_a.append(int(ipt))
print(f"Average: {(sum(list_a)/len(list_a))}")
print(f"Maimum: {max(list_a)}")
print(f"Minimum: {min(list_a)}")

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
Average: 5.2
Maimum: 9
Minimum: 2