# Tuple
- 리스트와 유사하지만 값을 **수정할 수 없으며**, 읽기만 가능
- 튜플은 괄호( )로 생성

In [1]:
t1  = 0
t2 = (1,) # 항목이 하나인 경우 주의할 것
t3 = (1,2,3)
t4 = 1,2,3 # 괄호 생략 가능

## 튜플 인덱싱, 슬라이싱

In [2]:
t = (1,2,3,4,5,6)
t[0]

1

In [3]:
t[:3]

(1, 2, 3)

In [5]:
t[4:6]

(5, 6)

In [6]:
t[0] = 7 # tuple은 원소 변경 불가능

TypeError: 'tuple' object does not support item assignment

## 튜플 더하기, 곱하기

In [7]:
t1 = (1,2)
t2 = ('a', 'b')

t3 = t1 + t2
t3

(1, 2, 'a', 'b')

In [8]:
t1 * 3

(1, 2, 1, 2, 1, 2)

## 튜플 패킹, 언패킹

### 튜플 패킹 (Tuple packing)
- 여러 데이터를 튜플로 묶는 것

In [9]:
a = 1,2,3
a

(1, 2, 3)

### 튜플 언패킹 (Tuple Unpacking)
- 튜플의 각 항목을 여러개의 변수에 할당하는 것

In [10]:
one, two, three = a
print(one, two, three)

1 2 3

### 튜플 관련 함수
- count, index

In [11]:
# 값 1의 위치
a.index(1)

0

In [12]:
# 값 1과 일치하는 요소의 개수
a.count(1)

1

# Set
- 순서 없이 항목을 저장, 항목이 중복 될 수 없음

In [13]:
s1 = set([1,2,3]) # 리스트 기반
s2 = {3,4,5}

In [14]:
word = 'Hello' * 2
word

'HelloHello'

In [15]:
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [17]:
s3 = set(word_list)
s3

{'H', 'e', 'l', 'o'}

In [18]:
s4 = set('Hello') # 문자열 기반

In [19]:
# 자료형의 중복을 제거하기 위한 필터로 종종 사용
t = tuple(s4)
t

('H', 'o', 'e', 'l')

## 집합 관련 함수

In [24]:
s = {1,2,3,4,5,3,4}
s

{1, 2, 3, 4, 5}

In [25]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [26]:
s.remove(2)
s

{1, 3, 4, 5, 10}

In [28]:
s.update([1,3,5,7,9])
s

{1, 3, 4, 5, 7, 9, 10}

In [29]:
s.discard(7)
s

{1, 3, 4, 5, 9, 10}

In [30]:
s.clear()
s

set()

## 합집합, 교집합, 차집합

In [31]:
s1 = {1,2,3}
s2 = {3,4,5}

# 합집합
s1.union(s2)

{1, 2, 3, 4, 5}

In [32]:
# 교집합
s1.intersection(s2)

{3}

In [33]:
# 차집합
s1 - s2

{1, 2}

In [34]:
# 차집합
s1.difference(s2)

{1, 2}

In [35]:
# 합집합
s1 | s2

{1, 2, 3, 4, 5}

In [36]:
# 교집합
s1 & s2

{3}

## 실습1
- 1부터 100까지 숫자 중 3과 5의 공배수를 집합 형태로 만들어 아래와 같이 출력하시오
- {15, 30, 45, 60, 75, 90}
- 3와 5의 공배수: 6개

In [56]:
num = [x for x in range(1,101)]

# 3의 배수 리스트 생성
s3 = []
for n in num:
    if n % 3 == 0:
        s3.append(n)
    continue

# 5의 배수 리스트 생성
s5 = []
for n in num:
    if n % 5 == 0:
        s5.append(n)
    continue

s3, s5 = set(s3), set(s5)

# 공집합 생성
s = s3 & s5

print(s)
print("3과 5의 공배수: ",len(s),"개")

{75, 45, 15, 90, 60, 30}
3과 5의 공배수:  6 개

In [74]:
# Answer
s3 = set()
s5 = set()

for i in range(1,101):
    if i % 3 == 0:
        s3.add(i)
    if i % 5 == 0:
        s5.add(i)

s = s3 & s5
print(s)

{75, 45, 15, 90, 60, 30}

# Dictionary
- 중괄호 {}로 묶여있으며 key와 value의 쌍으로 이루어짐
- d {key1: value1, key2:value2}
- key로 value 관리
- key는 중복 될 수 없음
- 항목들 사이에 순서 없음

In [78]:
d = {}
d['kim'] = 1 # 새 항목을 추가
d['park'] = 2
d

{'kim': 1, 'park': 2}

In [58]:
d['park'] # key를 사용하여 값에 접근

2

In [60]:
# 이미 있는 키의 경우 기존의 값 변경
d['kim'] = 3
d

{'kim': 3, 'park': 2}

In [61]:
d['youn'] = 1 # 새 항목 추가
d

{'kim': 3, 'park': 2, 'youn': 1}

In [62]:
d.keys() # 키만 추출

dict_keys(['kim', 'park', 'youn'])

In [63]:
d.values() # 값만 추출

dict_values([3, 2, 1])

In [64]:
# 키와 값의 항목을 튜플 형태로 
d.items()

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [65]:
# 딕셔너리에 키가 있는 경우
'kim' in d

True

In [66]:
# 딕셔너리에 키가 없는 경우
'lee' in d

False

In [67]:
# 항목 1개 삭제
del d['kim']
d

{'park': 2, 'youn': 1}

In [70]:
# 전체 삭제
d.clear()
d

{}

## 실습
- 어떤 문장을 입력받으면 해당 문장에서 각 문자가 몇개씩 나오는지 저장하는 딕셔너리를 만든 후 아래와 같이 출력하시오
- {'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

In [83]:
# 방법1

inputS = input("Enter a sentence: ")
dict1 = {}

for w in inputS:
    if w in dict1:
        dict1[w] += 1
    elif w not in dict1:
        dict1[w] = 1

dict1

Enter a sentence: Python is fun!

{'P': 1,
 'y': 1,
 't': 1,
 'h': 1,
 'o': 1,
 'n': 2,
 ' ': 2,
 'i': 1,
 's': 1,
 'f': 1,
 'u': 1,
 '!': 1}

In [77]:
# 방법2

inputS = input("Enter a sentence: ")


from collections import defaultdict
dict1 = defaultdict(int)

for w in inputS:
    dict1[w] += 1
    
dict1

Enter a sentence: Python is fun!

defaultdict(int,
            {'P': 1,
             'y': 1,
             't': 1,
             'h': 1,
             'o': 1,
             'n': 2,
             ' ': 2,
             'i': 1,
             's': 1,
             'f': 1,
             'u': 1,
             '!': 1})

# Def
- 좋은 함수는 매개변수를 가지고 함수이름의 작업을 해서 반환값을 주는 함수로 설명이 가능함

In [89]:
# 함수 정의
def add(a, b):
    result = a + b
    return result

# 함수 호출
add_result = add(100,200)
print(add_result)

300

In [91]:
# 튜플이나 리스트를 이용해 여러 개의 값을 반환할 수 있음

def add_and_mul(a,b):
    return (a+b, a*b)

add_res, mul_res = add_and_mul(3,4)
print(add_res)
print(mul_res)

7
12

## 실습 1
- len() 구현

In [93]:
def my_len(x):
    num = 0
    for i in x:
        num += 1
    return num

a = [5,5,6,7,8,3]
b = 'Life is short'

print(len(a), len(b))
print(my_len(a), my_len(b))

6 13
6 13

## 실습 2
- 양의 정수 a와 b를 전달받아 a부터 b까지 곱해서 반환하는 mult 함수를 작성하시오

In [94]:
def mult(a, b):
    n = 1
    for i in range(a,b+1):
        n *= i
    return n

print(mult(1,3))
print(mult(2,5))

6
120

In [ ]:
# Answer 재귀적 방식
def mult(a,b):
    if a == b:
        return a
    return mult(a, b-1) * b

## 실습3
- 숫자로 구성된 리스트를 전달받아, 리스트에서 양수 값을 더한 결 과와 음수 값을 더한 결과를 반환하는 함수를 작성하시오.

In [95]:
def sum_pos_neg(l):
    pos = 0
    neg = 0
    for i in l:
        if i >= 0:
            pos += i
        elif i < 0:
            neg += i
    return pos,neg

possum,negsum = sum_pos_neg([3,4,-6,-3]) 
print(possum,negsum) 

mylist = [0,0,0,0,0,0,0,0,0,1,-1]
possum,negsum = sum_pos_neg(mylist) 
print(possum,negsum)

7 -9
1 -1

In [111]:
# Answer - 재귀적 방식 
def sum_pos_neg(l):
    if not l: # list가 비어있을 때 
        return 0,0
    x = l.pop()
    pos, neg = sum_pos_neg(l)
    if x > 0:
        post += x
    elif x < 0:
        neg += x
    return pos, neg

## 가변 매개변수
- 매개변수가 몇 개인지 모를 경우

In [ ]:
def f1(a , b*):  # 정상

def f2(a, b*, c):  # 에러
    
def f3(*a, *b): # 에러
    
def f4(a,b,*c):

In [96]:
# 짝수 개수 구하기
def count_even(*n):
    cnt = 0
    for v in n:
        if v % 2 == 0:
            cnt += 1
    return cnt

count_even(1,2,3,4,5)

2

## 실습 4
- 1개 이상의 2차원 벡터들을 전달받아 벡터들의 합을 구하여 반환 하는 함수를 작성하시오.

In [124]:
# Answer
def vector_sum(vector, *vectors):
    result = vector.copy()  # vector 리스트가 함수 이후 값이 바뀌는걸 방지하기 위해 =가 아닌 copy 사용
    for x,y in vectors:
        result[0] += x
        result[1] += y
    print(result)
    return result

v1=[0, 1]
v2=[0.5, 0.5]
v3=[1, 0]
v4=[6, 4]
v5=[3.14, 2.72]
m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4) 
m3 = vector_sum(v3, v5) 
print(m1,m2,m3)

[1.5, 1.5]
[7.5, 5.5]
[4.140000000000001, 2.72]
[1.5, 1.5] [7.5, 5.5] [4.140000000000001, 2.72]

## 디폴트 매개변수
- 매개변수의 기본값을 지정해줄 수 있다.
    - 함수 호출 시, 해당 매개변수에 대응되는 값을 주지 않으면 정의할 때 지정한 기본 값을 가짐

In [110]:
def print_name(first, second = "Kim"):
    print('My name is', first, second + '.')

# 함수 호출
print_name('Gildong', 'Hong')
print_name('Gildong')

My name is Gildong Hong.
My name is Gildong Kim.

In [ ]:
# 앞 매개변수가 디폴트 값을 가지면, 뒤에 오늘 매개변수는 반드시 디폴트 값을 가져야 함
def print_name(first, second="Kim"): # 정상

def print_name(first='Kim', second): # 에러발생

## 키워드 매개변수
- 함수 호출 시, 해당 매개변수 이름을 명시적으로 지정해서 전달

In [113]:
def calc(x, y=0, z=0):
    return x + y + z

result = calc(y = 20, x = 10, z = 30) # 매개변수 순서 상관 없음
print(result)

calc(y = 20, x = 10)
calc(10, y = 30, z = 20)
calc(10, 30, y =20) # 에러발생, 이렇게 되면 y를 두번 대입하는 것과 같기에

60

60

## 실습 5
- 숫자로 구성된 리스트 2개를 받아서 이 두 리스트를 합친 후에 정 렬한 새로운 리스트를 반환하는 함수를 작성하시오.
- 단, 매개변수의 값이 주어지지 않으면, [0]이 기본적으로 주어진다

In [116]:
def merge_list(list1 = [0], list2 = [0]):
    return sorted(list1 + list2)

l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) # [1, 1, 2, 2, 3, 5, 9] 
print(ml2) # [0, 4, 6, 9] 
print(ml3) # [0, 0]

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

## 지역변수, 전역변수
- 지역변수(Local Variable): 함수 안에서 만들어져 함수 안에서만 사용하는 변수
- 전역변수(Global Variable): 함수 밖에서 만들어져 아무데서나 사용할 수 있는 변수
    - 단, 함수 안에서 전역변수 수정 불가

In [119]:
# 지역변수
def add_value(a,b):
    add_res = a + b
    return add_res
x = 10
y = 20
res = add_value(x, y)
# print(add_res) 에러발생

In [120]:
# 전역변수
def addX(_x):
    return x + _x

x = 10
y = 20

res = addX(y)
print(res)

30

In [ ]:
# 함수 안에서는 전역변수 수정이 불가능하다. 수정하려면 global 키워드를 사용해야한다.
def addX(_x):
    x = x + _x # 에러발생

In [121]:
def addX(_x):
    global x # 전역변수임을 명시해주고 사용해야한다.
    x = x + _x

x = 10
y = 20

addX(y)
print(x)

30

# Module
- 많이 사용하는 함수를 만들어 놓고, 프로그램에서 해당 함수 사용시, import하여 사용하면 편리함

## 모듈의 작성과 사용
- 모듈로 사용할 파일과 호출하는 파일은 모두 같은 폴더에 저장
- 모듈이름 생략하고 함수이름만으로 사용하고 싶다면 from 모듈명 import *

## 난수(Random Number) 생성

In [126]:
import random

# 리스트에서 랜덤하게 선택
random.choice('abcdefg')

# a 이상 b이하인 임의의 정수 뽑기 (a, b: int타입)
random.randint(0,1) # a~b 정수값 중 하나
random.randrange(0, 7+1) # randint(a,b)와 동일한 기능

7

In [127]:
# 리스트 내용 랜덤으로 섞기
Ls = [1,2,3,4,5]
random.shuffle(Ls)
print(Ls)

[2, 3, 1, 4, 5]

In [128]:
# 리스트 중 랜덤으로 여러 개 뽑기
random.sample([1,2,3,4,5,6],3) #첫번쨰 리스트에서 3개의 랜덤한 값 뽑기

[1, 4, 2]

## 실습6

- 로또 번호 자동 기입 프로그램
- 5개의 로또 번호 조합을 출력해주는 프로그램을 작성
- 매번 1~45 숫자 중 6개를 임의로 선택 후 정렬하여 출력  각 줄은 중복된 번호를 가질 수 없음

In [133]:
numList = [x for x in range(1,46)]

print("** 로또 번호 자동 기입을 시작합니다. **")
for i in range(1,7):
    choice = random.sample(numList, 6)
    print(f"{i}번째 자동 기입 ==> ", sorted(choice))

** 로또 번호 자동 기입을 시작합니다. **
1번째 자동 기입 ==>  [2, 5, 12, 25, 33, 38]
2번째 자동 기입 ==>  [15, 18, 29, 31, 32, 38]
3번째 자동 기입 ==>  [20, 26, 31, 32, 34, 45]
4번째 자동 기입 ==>  [15, 18, 20, 21, 33, 35]
5번째 자동 기입 ==>  [14, 16, 18, 19, 23, 30]
6번째 자동 기입 ==>  [15, 22, 24, 32, 38, 42]

## 실습 7
- 숫자로 구성된 리스트를 전달받아 최댓값, 최솟값을 반환하고, 두 수를 리스트에서 제거하는 함수를 작성하시오.
- 단, 리스트에 원소는 2개 이상 존재한다고 가정

In [140]:
def get_min_max(l):
    maxx = max(l)
    minn = min(l)
    
    l.remove(maxx)
    l.remove(minn)
    return minn, maxx
    
l = [3,5,9,1,2]
min_val, max_val = get_min_max(l)

print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

## 실습 8

- 두 딕셔너리를 전달받아 각 딕셔너리에 등장한 값을 모두 더한 새로운 딕셔너리를 반환하는 함수 comb_dict()를 작성하시오

In [212]:
def comb_dict(d1, d2):
    d3 = d1.copy()
    
    for i in d2:
            if i in d3:
                d3[i] += d2[i]
            else:
                d3[i] = d2[i]
    return d3

d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8} 
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

## 실습 9
- 숫자를 2개 이상 입력 받아, 최댓값과 최솟값의 차를 반환하는 함수를 작성하시오.

In [150]:
def diff(a, b, *c): # 두개 이상의 값을 받아야하므로 매개변수 두개 + *c
    list_ = [] 
    list_.append(a) 
    list_.append(b)
    for i in c:
        list_.append(i)
    maxx = max(list_)
    minn = min(list_)
    return maxx - minn

print(diff(1,2,3,4,5))
print(diff(-100, 200))

4
300

In [151]:
diff(1) # 매개변수를 하나만 지정해주었기에 에러발생

TypeError: diff() missing 1 required positional argument: 'b'

# File

## 파일쓰기
- f = open(.txt, "r")

In [176]:
fw = open("new.txt", 'w')

In [177]:
for i in range(1,6):
    data = "%d line\n" % i
    fw.write(data)

In [178]:
fw.close() # 파일을 닫았을 때 위의 코드가 실행 됨

readline() - 파일에서 한 줄 읽어옴

In [182]:
f = open("new.txt", "r")

line = f.readline()
print (line, end='')

line = f.readline()
print (line, end='')

f.close()

1 line
2 line

readlines() - 모든 라인을 한꺼번에 읽어서 각 각의 줄을 요소로 갖는 리스트를 반환

In [184]:
f = open("new.txt", "r")
lines = f.readlines() 
print (lines)
f.close()

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n']

In [187]:
f = open("new.txt", "r")
f.tell() # 현재 포인터의 위치

0

In [194]:
f = open("new.txt", "r")

while True:
    line = f.readline()
    if line == "":
        break
    print(line, end="")
    
f.close()

1 line
2 line
3 line
4 line
5 line

In [197]:
f = open("new.txt", "r")

lines = f.readlines() # 각 줄을 하나하나의 원소로 갖는 리스트로를 반환
print(lines)

f.close

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n']

- read: 파일을 전부 읽은 문자열을 반환

In [198]:
f = open("new.txt", "r")

data = f.read()
print(data, end="") # 전체를 하나의 문자열로 반환
f.close

1 line
2 line
3 line
4 line
5 line

- for문 사용

In [1]:
f = open("new.txt", 'r')

for line in f:
    print(line,end='')
    
f.close()

line1
line2
line3
line4
line5

## 실습1
- 파일에 있는 각각의 단어의 수 구하기

In [43]:
f = open('test.txt', 'r')

lists = []
dicts = {}
word = []

strs = f.read().split("\n")

for line in strs:
    lists.append(line)
for l in lists:
    _a = l.split(" ")
    for i in range(2):
        if _a[i] not in dicts:
            dicts[_a[i]] = 1
        elif _a[i] in dicts:
            dicts[_a[i]] += 1

print(dicts)

{'first': 1, 'line': 3, 'second': 1, 'third': 1}

## 실습2
- 파일명을입력받아,해당파일을한줄씩읽어 파일의내용을모두대문 자로 출력하는 프로그램을 작성하시오.

In [1]:
import os

In [2]:
os.path.exists('test.txt')

True

In [11]:
file = input("Enter a file name: ")
if os.path.exists(file) == True:
    f = open(file, 'r')
    
    for line in f:
        print(line.upper())
    f.close()
else:
    print("파일이 존재하지 않습니다. 이름을 다시한번 확인해주세요")

Enter a file name: test.txt
FIRST LINE

SECOND LINE

THIRD LINE

## 파일을 열고 자동으로 닫기 (with ~ as)

In [ ]:
with open("output.txt", 'w') as f:
    f.write("Python is fun!")
# with 블록을 벗어나는 순간 파일을 자동으로 닫아준다.